

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&Roboto:300');



:root {

  --font_size-medium: 20px;
  --transition: all .2s ease-in-out;
  --text-shadow: 0 1px 0 #ccc,
                 0 2px 0 #c9c9c9,
                 0 3px 0 #bbb,
                 0 4px 0 #b9b9b9,
                 0 5px 0 #aaa,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15);
}



* {
  box-sizing: border-box;
}


body {
  justify-content: space-evenly;
  flex-direction: column;
  display: flex;
  height: 100vh;
}


li, ol, ul {
  padding: 0;
  display: inline-block;
}


h2 {
  margin: 0;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
  margin: 0;
}


button {
  margin: 6px;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  color: rgb(55, 71, 79);
  font-size: var(--font_size-medium);
  background-color: rgb(227, 228, 229);
  border-radius: 5px;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}


.main__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  max-height: 900px;
  text-align: center;
  background-color: rgb(174, 175, 167);
}


.section {
  width: 100%;
  padding: 10px;

}



.header {
  color: rgb(73, 62, 67);
  font-weight: lighter;
  text-shadow: var(--text-shadow);
}


.heart--image { background-image: url('/liveHeart.png');}



.letter {
  font-size: 20px;
  height: 62px;
  width: 62px;
  padding: 19px 2px 0 1px;
  margin-right: 2px;
  margin-top: 2px;
  color: transparent;
  background: rgb(209, 207, 207);
  border-radius: 2px;
}


.space {
  width: 15px;


}

.show {
  color: #000;
  background-color:rgb(194, 209, 108);
}


.refresh  {
  text-decoration: none;
  margin-top: 20px;
  font-size: 10px;

}


.key__row {
  display: flex;
  justify-content: center;
}


.key__row button { border-radius: 2px; }


.key__row button:hover { box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); }


.chosen {
  background: rgb(68, 80, 105);
  border-radius: 2px;
  font-size: var(--font_size-medium);
  color: #FFFFFF;
}


.btn__reset {
  width: 40%;
  padding: 6px;
  margin: 0 auto;
  background: rgb(145, 139, 142);
  border-radius: 3px;
  font-size: 19px;
  margin-top: 20px;
  box-shadow: 0 8px 6px -6px rgb(178, 178, 178);
}


.btn__reset:hover {
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}




#overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  color: rgb(173, 173, 173);
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
}



.title {
  color: rgb(160, 54, 35);
  font-size: 70px;
  font-weight: lighter;
  word-spacing: 20px;
  text-shadow: var(--text-shadow);
}


.start_overlay-button { background-color: rgb(173, 173, 173);}


.start_overlay-button a { color: rgb(153, 33, 55); }
